/Turbine Assembly/cgrotor.png
/Turbine Assembly/cgrotor.svg
Rotor And Stator Software/Integrated Software/rotordynamics.py
Rotor And Stator Software/Integrated Software/turbine_design/__pycache__
Rotor And Stator Software/Integrated Software/KackerOkapuu/.vscode